<style>
            #navbar {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                padding: 2em;
            }
            .algn {
                margin-right: 20px;
            }
            .navdiv {
                display: flex;
                float: right;
                align-items: center;
                justify-items: center;
            }
            .nav-link {
                text-decoration: none;
                color: #222;
                font-family: sans-serif;
                font-size: 13px;
            }
            .nav-link:hover {
                text-decoration: underline;
                color: rgb(61, 14, 233);
            }
            .apps-icon {
                width: 15px;
                display: grid;
                grid-template-columns: 4px 4px 4px;
                grid-template-rows: 4px 4px 4px 4px;
                grid-gap: 2px;
                border-radius: 50%;
            }
            .apps-icon:hover {
                background-color: gainsboro;
            }
            .dots {
                background-color: gray;
                border-radius: 50%;
            }
            .nav-img {
                width: 2em;
                height: auto;
                border-width: 5px;
                border-color: rgb(241, 240, 241);
                border-style: hidden;
                border-radius: 50%;
            }
            .nav-img:hover {
                border-style: solid;
            }
            #ftr {
                position: absolute;
                bottom: 0px;
                right: 0;
                left: 0;
                background-color: rgb(233, 233, 233);
                padding: 1em;
            }
            .flink-right {
                display: flex;
                float: right;
                display: block;
                padding-right: 15px;
            }
            .flink-left {
                display: flex;
                float: left;
                display: block;
                padding-right: 15px;
            }
            .cntrdv {
                display: flex;
                justify-content: center;
                padding-top: 12em;
            }
            .bttnsdiv {
                display: flex;
                justify-content: center;
                padding: 25px;
            }
            .npt {
                width: 52em;
                height: 2em;
                border-radius: 15px;
            }
            .logopic {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
            }
            .buttons {
                margin: 5px;
                padding: 5px 20px;
            }
        </style>